<h1>Practice</h1>
<p>Current streak: {{streak}}</p>

{{partial 'games/difficulty'}}

{{#if playing}}
  <li><a href='#' {{action 'restart'}}>Start again</a></li>
  <p>{{attempts}} {{inflect attempts "attempt" "attempts"}} so far</p>
  {{question}}<br>
  {{input value=answer}}
  <button {{action 'answer' answer}}>Answer</button>
{{/if}}
